.main-header p {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

/* *********************************************seperator************************************************* */
hr {
    display: block;
    width: 40%;
    height: 1px;
    border: 1px solid #828282;
}

/* *****************************************Form component to send Message*************************************************** */
.send-message-form {
    /* position: sticky; */
    z-index: 3;
    width: 100%;
    bottom: 0;
    /* grid-row:3;
    background-color:blue; */

}

.send-message-form input[type="text"] {
    width: 100%;
    color: white;
    height: 52px;
    border-radius: 8px;
    border: unset;
    background-color: #3C393F;
    padding-inline-start: 1rem;
    /* width:50em;
    max-width:60rem; */

}

.absolute-cont {
    position: relative;
    /* grid-row:3; */
}

.send-button {
    position: absolute;
    right: .3rem;
    bottom: .4rem;
}


::placeholder {
    padding-left: 1rem;
}

/* ********************************************************************************************************** */


.chat-card .photo-container img {
    min-width: 42px;
    min-height: 42px;
    max-width: 42px;
    max-height: 42px;
}

.register-modal,.profile-modal {
    width:40%;
    max-width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-block: 2rem;
    min-width: 360px;
    position: absolute;
    z-index: 3;
    left: 30%;
    top: 4rem;
    background-color: #120F13;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.43);
}
