.channel-nav {
    height: 100%;
    /* padding-inline: 1rem; */
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

}



.photo-container>img {
    object-fit: cover;
    width: 42px;
    aspect-ratio: 1;
    border: 1px solid black;
    border-radius: 7px;
}

.sidebar-footer {
    background-color: chartreuse;
}

.login {
    height: 100%;
}
