.channel-nav {
    height: 100%;
    /* padding-inline: 1rem; */
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

}



.photo-container>img {
    object-fit: cover;
    width: 42px;
    aspect-ratio: 1;
    border: 1px solid black;
    border-radius: 7px;
}

.sidebar-footer {
    background-color: #0B090C;
}



.login {
    height: 100%;
}


input[type="search"] {
    width: 100%;
    height: 3rem;
    border-radius: 8px;
    background-color: #3C393F;
}

.search-form {
    position: relative;
}

.search-form svg {
    position: absolute;
    left: .7rem;
    top: .8rem
}

::placeholder {
    padding-left: 2.4rem;
}
