/* .channel-nav {
    height: 100%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

} */
.shadow {
    height: 100%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

}



.photo-container>img {
    object-fit: cover;
    width: 42px;
    aspect-ratio: 1;
    border: 1px solid black;
    border-radius: 7px;
}

.sidebar-footer {
    background-color: #0B090C;
}



.login {
    height: 100%;

}


input[type="search"] {
    width: 100%;
    height: 3rem;
    border-radius: 8px;
    background-color: #3C393F;
}

.search-form {
    position: relative;
}

.search-form svg {
    position: absolute;
    left: .7rem;
    top: .8rem
}

::placeholder {
    padding-left: 2.4rem;
}

/* ************************************account login and logout modal ***********************************/
.account {
    position: absolute;

    width: 192px;
    height: 173px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .25);
    border-radius: 10px;
    padding: .3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 3;
    bottom: 3.5rem;
    right: 1rem;
}


.sidebar-footer {
    position: relative;

}



.account hr {
    width: 100%;
    margin-block-end: .7rem;
}

.account-modal {
    /* border:1px solid ; */
    padding: .3rem .5rem;

}

.account-modal:hover {
    background-color: #3C393F;
    border-radius: 8px;
}


.logout {
    color: #EB5757;
}


/* *************************************sidebar footer ****************************/
